.section-testimonials {
    padding: 6rem 0rem;

    @include respond(sm) {
        padding: 3rem 0.5rem;
    }

    &__text {
        max-width: 764px;
        margin: 0 auto 4rem;
        width: 100%;
        text-align: center;
    }

    &__map {
        width: 100%;
        position: relative;
        & img {
            width: 100%;
            height: 100%;
        }
       &__image {
        border-radius: 50%;
        border-color: $color-primary-green;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
       }
        &__testimonial1{
            position: absolute;
            padding: 1rem;
            top: 2rem;
            left: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            & img {
                border: 2px solid $color-primary-green;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
            & p {
                    display: none;
            }
            &:hover{
                width: 25rem;
                height: auto;
                border-radius: 10px;
                background-color: $color-primary-green;
                color: white;
                & p {
                    display: block;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 160%;
                    text-align: center;
                
                }
            }
        }
        &__testimonial2{
            position: absolute;
            padding: 1rem;
            top: 10rem;
            left: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            z-index: 10000;
            & img {
                border: 2px solid $color-primary-green;
                border-radius: 50%;
                width: 4rem;
                height:4rem;
                object-fit: cover;
            }
            & p {
                    display: none;
            }
            &:hover{
                width: 25rem;
                height: auto;
                border-radius: 10px;
                background-color: $color-primary-green;
                color: white;
                & p {
                    display: block;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 160%;
                    text-align: center;
                
                }
            }
        }
        &__testimonial3{
            position: absolute;
            padding: 1rem;
            top: 5rem;
            left: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            z-index: 10000;
            & img {
                border: 2px solid $color-primary-green;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
            & p {
                    display: none;
            }
            &:hover{
                width: 25rem;
                height: auto;
                border-radius: 10px;
                background-color: $color-primary-green;
                color: white;
                & p {
                    display: block;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 160%;
                    text-align: center;
                
                }
            }
        }
        &__testimonial4{
            position: absolute;
            padding: 1rem;
            bottom: 55%;
            right: 12%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            
            & img {
                border: 2px solid $color-primary-green;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
            & p {
                    display: none;
            }
            &:hover{
                width: 25rem;
                height: auto;
                border-radius: 10px;
                background-color: $color-primary-green;
                color: white;
                z-index: 10000;
                & p {
                    display: block;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 160%;
                    text-align: center;
                
                }
            }
        }
        &__testimonial5{
            position: absolute;
            padding: 1rem;
            left: 55%;
            top: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            
            & img {
                border: 1px solid $color-primary-green;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
            & p {
                    display: none;
            }
            &:hover{
                width: 25rem;
                height: auto;
                border-radius: 10px;
                background-color: $color-primary-green;
                color: white;
                z-index: 10000;
                & p {
                    display: block;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 160%;
                    text-align: center;
                
                }
            }
        }
        &__testimonial6{
            position: absolute;
            padding: 1rem;
            left: 30%;
            top: 58%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            
            & img {
                border: 1px solid $color-primary-green;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
            & p {
                    display: none;
            }
            &:hover{
                width: 25rem;
                height: auto;
                border-radius: 10px;
                background-color: $color-primary-green;
                color: white;
                z-index: 10000;
                & p {
                    display: block;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 160%;
                    text-align: center;
                
                }
            }
        }
        &__testimonial7{
            position: absolute;
            padding: 1rem;
            right: 15%;
            top: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            
            & img {
                border: 1px solid $color-primary-green;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
            & p {
                    display: none;
            }
            &:hover{
                width: 25rem;
                height: auto;
                border-radius: 10px;
                background-color: $color-primary-green;
                color: white;
                z-index: 10000;
                & p {
                    display: block;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 160%;
                    text-align: center;
                
                }
            }
        }
        &__testimonial8{
            position: absolute;
            padding: 1rem;
            right: 25%;
            top: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            
            & img {
                border: 1px solid $color-primary-green;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
            & p {
                    display: none;
            }
            &:hover{
                width: 25rem;
                height: auto;
                border-radius: 10px;
                background-color: $color-primary-green;
                color: white;
                z-index: 10000;
                & p {
                    display: block;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 160%;
                    text-align: center;
                
                }
            }
        }
        &__testimonial9{
            position: absolute;
            padding: 1rem;
            right: 15%;
            bottom: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            
            & img {
                border: 1px solid $color-primary-green;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
            & p {
                    display: none;
            }
            &:hover{
                width: 25rem;
                height: auto;
                border-radius: 10px;
                background-color: $color-primary-green;
                color: white;
                z-index: 10000;
                & p {
                    display: block;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 160%;
                    text-align: center;
                
                }
            }
        }
    }
}
